$primaryBtn : rgb(89, 89, 89);
$textColor: rgb(42, 42, 177);

@import "./header";

header button {
    background-color: $primaryBtn;
}

// .contact button {
//     background-color: $primaryBtn;
// }

.contact  {
    @extend header;
    background-color: orange;
    // read top to bottom, whatever is above last line will be overridden
    // background-color: red;
}